*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navContainer{
    background-color: #192026;
    padding: 20px 115px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navContainer h1{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}

.navContainer h2, .navContainer input{
    color: #868686;
    font-size: 25px;
    font-weight: 400;
}

.navContainer input{
    padding: 8px 100px 8px 18px;
    background-color: #374151;
    border: solid 1px #374151;
    border-radius: 37px;
}